.App {
  width: 100vw;
  height: 100vh;
  min-height: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App___content {
  max-width: 1000px;
  min-height: 550px;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  color: white;
}

/* search city input */
.searchCity___container {
  width: 98%;
  padding: 5% 2% 1% 2%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.SearchCity___container {
  height: 80%;
  width: 90%;
  max-width: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchCity___container button {
  border: none;
  background-color: transparent;
  height: 150%;
  right: 0;
}

.lottie {
  right: 0;
  height: 5vh;
  min-height: 35px;
  width: 55px;
}

.searchCity___container input {
  border: none;
  border-bottom: 2px solid rgb(101, 98, 98);
  background-color: transparent;
  margin-right: 10px;
  color: rgb(186, 186, 186);
}
.searchCity___container input:focus {
  outline: none;
}

.searchCity___errorMsg {
  height: 30px;
  width: 100%;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* h1 & sunset & sunrise & time container */

h1 {
  font-weight: 800;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
}

.sunset_time___container {
  width: 100%;
  height: 15%;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.sunset_time___content {
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sunset_time___content p {
  width: 30%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(24, 24, 24, 0.504);
  border-radius: 50px;
}

/* weather today */

.DisplayToday___container {
  height: 50%;
  width: 100%;
  margin-bottom: 5%;
}

.DisplayToday___content {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 100%;
}

.DisplayToday___image {
  display: flex;
  align-items: flex-start;

  height: 65%;
  aspect-ratio: 4/4;
}

.DisplayToday___image img {
  height: 100%;
  margin-top: 1%;
}

.DisplayToday___content p {
  margin: 0;
  padding: 0;
  font-size: x-small;
}

.DisplayToday___weatherData_container {
  background-color: rgba(24, 24, 24, 0.831);
  border-radius: 20px;
  width: 96%;
  max-width: 350px;
  height: 40%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 45% 45%;
  gap: 2px;
  padding: 1%;
  align-content: center;
  justify-content: center;
}

.DisplayToday___weatherData_content {
  height: 94%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  padding-top: 2%;
}
.weatherData_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28%;
  width: 98%;
}

.weatherData_content i {
  font-size: clamp(0.8em, 3vw, 0.9em);
}

.weatherData_content p {
  font-size: clamp(0.45em, 2vw, 0.6em);
  letter-spacing: 1px;
}

.weatherData_content___div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
  white-space: nowrap;
}

.weatherData_content___div i {
  font-size: 1.2rem;
  margin-top: clamp(-20%, 1vw, 15%);
  margin-left: -10%;
}

/* Icon styling */
.icon_container {
  height: 15px;
  width: 15px;
  position: relative;
  display: inline;
  justify-content: center;
  align-items: center;
}

.icon_sunrise {
  font-size: 1.4rem;
  position: absolute;
  left: 3px;
  top: -3px;
}
.icon_celsius {
  font-size: 1.8rem;
  position: absolute;
  left: -5px;
  top: -7px;
}

.icon_humidity {
  font-size: 1.2rem;
  position: absolute;
  left: -0px;
  top: -3px;
}

.icon_wind {
  font-size: 1.4rem;
  position: absolute;
  left: 1px;
  top: -4px;
}

/* weather list */
.DisplayweatherList___container {
  width: 98%;
  height: 15%;
  max-width: 350px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  gap: 5%;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.DisplayweatherList___content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgb(27, 27, 27);
  border-radius: 50px;
  height: 75%;
  max-height: 90px;
  padding: 18% 0;
}

.DisplayweatherList___day_p {
  max-height: 40px;
  height: 50%;
}

.DisplayweatherList___PIcon_container {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
  height: 40%;
}

.DisplayweatherList___content p {
  font-size: 0.75rem;
}

.DisplayweatherList___image {
  max-height: 45px;
  height: 35%;
  width: 20%;
  min-width: 25px;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  /* weather list */
  .DisplayweatherList___container {
    margin-top: 0%;
  }
}
@media (min-width: 1024px) {
}
